<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" packages="org.example">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false"
                           pattern="%d{HH:mm:ss.SSS} %style{[%t]}{cyan} %-5level %style{%C{1}}{yellow}.%style{%M}{magenta} %style{%m}{green} %n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>